body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #fdf6e3;
 height: auto;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: #813220;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

ul {
    padding: 2;
}

li {
    margin-bottom: 10px;
}

a {
    color: #813220;
}

img {
    display: block;
    margin: 4px auto;
    max-width: 100%;
    border-radius: 100px;
}

.disclamer {
    margin-top: 40px;
    color: #555;
    font-size: 20px;
    font-weight: bold;
}

em {
    font-style: italic;
    color: #813220;
}